html {
    font-size: 14px;
}

.image-scroll {
    overflow: auto;
    white-space: nowrap;
}

.image-scroll img {
    color: white;
    border-radius: 8px; /* Rounded Image */
    width: 8rem;    /* Fixed height for all images */
    height: 8rem; /* Fixed height for all images */
    object-fit: cover; /* Covers area without distorting the aspect ratio */
    margin-right: .5rem; /* Add some space between the images */
    margin-left: .5rem; /* Add some space between the images */
    padding-bottom: .5rem;
}


.image-scroll img:hover {
    opacity: 0.5;
}
.image-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

/* Resetting default list styles */
.item-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Styling individual list items */
.item-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

/* Adding hover effect on list items */
.item-list li:hover {
    background-color: #e0e0e0;
}

.delete-btn {
    background-color: #ff0000;
    color: #F2E9E1;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16x;
}


.floating-container {
  position: relative;
  width: 100px;
  height: 0px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
  display: flex;
  flex-direction: horizontal;
}

.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #4CAF50;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(45, 144, 75, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}