html {
    font-size: 14px;
}

.image-scroll {
    overflow: auto;
    white-space: nowrap;
}

.image-scroll img {
    color: white;
    border-radius: 8px; /* Rounded Image */
    width: 8rem;    /* Fixed height for all images */
    height: 8rem; /* Fixed height for all images */
    object-fit: cover; /* Covers area without distorting the aspect ratio */
    margin-right: .5rem; /* Add some space between the images */
    margin-left: .5rem; /* Add some space between the images */
    padding-bottom: .5rem;
}


.image-scroll img:hover {
    opacity: 0.5;
}
.image-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

/* Resetting default list styles */
.item-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Styling individual list items */
.item-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

/* Adding hover effect on list items */
.item-list li:hover {
    background-color: #e0e0e0;
}

.delete-btn {
    background-color: #ff0000;
    color: #F2E9E1;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16x;
}


.floating-container {
  position: relative;
  width: 100px;
  height: 0px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
  display: flex;
  flex-direction: horizontal;
}

.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #fde2e2;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: black;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(113, 80, 92, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}








.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 300px;
  left: 40%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #F2E9E1;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  margin-left: 10px;
  margin-right: 10px;

  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16x;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.button-container {
    display: flex;
}