/* Global Styles */
body {
    font-family: "Open Sans", sans-serif;
    color: #2B2D42;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f9dac1; /* Light grey background for a subtle look */
    color: black; /* Dark grey color for the text to make it look soft */
    text-align: center;
    padding: 1rem 0; /* Slightly less padding for a tighter header */
    font-size: 20px; /* Slightly smaller font for a sleek look */
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0; /* Lighter border color for subtlety */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
}


.header-logo {
    height: 100px; 
    width: auto;
}

.tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.tile {
    background-color: #fff; /* Or any color you want */
    border: 1px solid #ddd; /* Optional border */
    padding: 25px;
    height: 140px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1rem 0;
    background-color: #F2E9E1;
}

nav a {
    text-decoration: none;
    color: #2B2D42;
    padding: 0.8rem 1.2rem;
    font-size: 18px;
    font-weight: 600;
}

nav a:hover {
    background-color: #E63946;
    color: #F2E9E1;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    border-bottom: 1px solid #2B2D42;
    padding-bottom: 1rem;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

button.primary {
    background-color: #4CAF50;
    color: #F2E9E1;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

button.secondary {
    background-color: #F2E9E1;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

button.warning {
    background-color: #E63946;
    color: #F2E9E1;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

input[type="text"], select {
    border: 1px solid #2B2D42;
    background-color: #F2E9E1;
    color: #2B2D42;
    padding: 0.5rem;
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 1rem;
}

footer {
    background-color: #4CAF50;
    color: #F2E9E1;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the navigation to the bottom */
    position: relative;
    background-color: white;
    border: solid black;
    margin: 0 auto;
    max-width: 640px;
    height: 960px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Adds a shadow for better effect */
}

.main-content::-webkit-scrollbar {
    display: none; /* This will hide the scrollbar in Webkit browsers */
}

.main-content {
    flex: 1; /* This will make it fill the available space, pushing the navigation down */
    overflow-y: auto; /* If you want the content itself to be scrollable */
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: white;
    border-top: 1px solid #333; /* Example color: #333 */
}

.navigation ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    list-style-type: none;
    width: 25%; /* If you have 4 items, this ensures they distribute evenly */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the flex children (icon and text) horizontally */
}

.navigation ul li a {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the text under the icon */
    text-decoration: none;
    color: #222327;
}

.navigation ul li a .icon {
    margin-bottom: 0.25rem; /* Adjust as necessary for spacing between icon and text */
    display: block;
    text-align: center;
    transition: 0.5s;
    font-size: 2rem; /* Adjust icon size as needed */
}

/* The .text class will place the text under the icon */
.navigation ul li a .text {
    transition: 0.5s;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
}

.navigation ul li a.current .icon,
.navigation ul li a.current .text {
    color: red;
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
    z-index: 1;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0 ;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}